<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.igniubi.user.mapper.UserSessionMapper">

    <!-- 可根据自己的需求，进行增减 -->

    <resultMap type="com.igniubi.user.entity.UserSessionEntity" id="userSessionMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="sessionKey" column="session_key"/>
        <result property="channel" column="channel"/>
        <result property="expireTime" column="expire_time"/>
        <result property="lastTime" column="last_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="userSessionQuerySql">
		t.id, 
		t.user_id, 
		t.session_key, 
		t.channel, 
		t.expire_time, 
		t.last_time, 
		t.create_time
    </sql>

    <!-- 增 -->
	<insert id="save" parameterType="com.igniubi.user.entity.UserSessionEntity" useGeneratedKeys="true" keyProperty="$pk.attrname">
		insert into user_session
		(
			`user_id`, 
			`session_key`, 
			`channel`, 
			`expire_time`
		)
		values
		(
			#{userId}, 
			#{sessionKey}, 
			#{channel}, 
			#{expireTime}
		)
	</insert>

    <!-- 删 -->
    <update id="remove">
        update user_session t
        <set>
            t.deleted = 1
        </set>
        where
			id = #{${pk.attrname}}
    </update>

    <!-- 改 -->
	<update id="update" parameterType="com.igniubi.user.entity.UserSessionEntity">
		update user_session t
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="sessionKey != null">`session_key` = #{sessionKey}, </if>
			<if test="channel != null">`channel` = #{channel}, </if>
			<if test="expireTime != null">`expire_time` = #{expireTime}, </if>
			<if test="lastTime != null">`last_time` = #{lastTime}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{$pk.attrname}
	</update>

	<!-- 查 -->
    <select id="get" resultMap="userSessionMap">
        select
        	<include refid="userSessionQuerySql"/>
        from user_session t
        where
        	t.id = #{$pk.attrname}
    </select>

	<!-- 条件查询 -->
    <select id="getUserSessionByParam" resultMap="userSessionMap" parameterType="com.igniubi.user.entity.UserSessionEntity">
        select
        	<include refid="userSessionQuerySql"/>
        from user_session t
			<trim prefix="WHERE"  prefixOverrides="AND">
				<if test="userId != null">
					and t.user_id = #{userId}
				</if>
				<if test="channel != null">
					and t.channel = #{channel}
				</if>
			</trim>
    </select>
</mapper>